@charset "UTF-8";

@use 'setting' as s;
@use 'sass:math';


/* ヘッダー */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s ease;

  @include s.respond("sp") {
    height: 60px;
    padding-right: 5px;

  &-scrolled {
    background-color: #0088FF;
  }

  &_list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }

  &_item {
    a {
      text-decoration: none;
      color: #fff;
      padding: 8px 12px;
      font-weight: bold;
      font-size: 32px;
    }
  }

  &_button {
    a {
      background-color: #fff;
      color: #0088FF;
      padding: 8px 16px;
      border-radius: 50px;
      font-weight: bold;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0088FF;
        color: #fff;
      }
    }
  }
  @media screen and (max-width: 380px) {
    height: 60px;
    padding-right: 5px;

    &_list {
      gap: 10px;
      padding-right: 5px;
    }

    &_item a {
      font-size: 16px;
      padding: 4px 6px;
    }

    &_button a {
      padding: 4px 8px;
      font-size: 14px;
    }
  }
}


/* ファーストビュー */

.firstview_wrapper {
  display: block;
  flex-direction: column;
  background-image: url("../img/sea.jpg");
  background-size: cover;
  height: 100vh;
  /* ビューポートの高さに合わせる */
}

section {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  /* height: 400px; */
  text-align: center;
}

.main_wrapper {
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.main_title {
  font-size: 184px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #333;
  margin-top: 80px;
}

.main_subtitle {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  color: #333;
  margin-top: 30px;
}

.main_description {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #333;
  margin-top: 30px;
}

/* ワークセクション */

.work_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 140px;

  .work_section {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    .work_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 100%;
      box-sizing: border-box;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .work_description_title {
        font-size: 24px;
        margin: 15px 0;
      }

      ul {
        font-size: 16px;
        margin-bottom: 0px;
        list-style: none;
        padding-bottom: 20px;

        li {
          text-align: left;
        }
      }
    }
  }
}


/* アバウトセクション */

.about_wrapper {
  display: block;
  flex-direction: column;
  background-image: url("../img/about2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 80px 140px;

  .about_container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;

    .about_item {
      display: flex;
      align-items: center;
      gap: 100px;

      img {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
        object-fit: cover;
      }

      .about_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 12px;
        padding: 8px 24px;
        margin-top: 20px;

        .about_name {
          font-size: 32px;
          font-weight: bold;
        }

        .about_description {
          text-align: left;
          font-size: 20px;
        }
      }
    }
  }
}

/* サービスセクション */

.service_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 140px;
  margin-bottom: 40px;

  .service_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .service_name {
      margin-top: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    .service_discription {
      text-align: left;
      list-style: none;
      margin-right: 30px;
      padding: 20px;
    }
  }
}

/* コンタクトセクション */

.contact_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CCDDE3;
  gap: 20px;
  padding: 40px 140px;

  .contact_container {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 20px;

    .contact_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:20px;

      label {
        display: block;
        width: 500px;
        text-align: left;
        margin-top: 20px;
        padding-left: 20px; 
      }

      input[type="text"] {
        width: 500px;
        height: 40px;
        margin: auto;
        border-radius: 50px;
        border: 1px solid #0088FF;
      }

      textarea {
        width: 500px;
        height: 200px;
        border-radius: 50px;
        border: 1px solid #0088FF;
        padding: 10px;
      }
    }

    .contact_description {
      display: inline-block;
      text-align: left;
      margin-top: 30px;
    }
  }
}
}