@charset "UTF-8";

@use 'setting' as s;
@use 'sass:math';

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 0;

  @include s.respond("sp") {
    padding-top: 0;
  }
}

.body_second {
  padding-top: 0;
}

// ボタン用 mixin
@mixin button-style($padding-y, $padding-x, $font-size) {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #0088FF;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: $padding-y $padding-x;
  font-size: $font-size;
  text-decoration: none
}

// 通常サイズ
.my-button {
  @include button-style(12px, 24px, 16px);
}

// 一回り大きいサイズ
.my-button--large {
  @include button-style(20px, 32px, 24px);

  @include s.respond("sp") {  
    @include button-style(12px, 24px, 16px); 
  }
}


.my-button:hover {
  background-color: #0056b3;
}

.section_title {
  text-align: left;
  margin-left: 0;
  padding-top: 30px;
  font-size: 120px;
  font-family: "Playfair Display", serif;
  margin: 0 0 40px 0;
  position: relative;
  width: 100%;

  @include s.respond("sp") {
    font-size: 60px;
    padding-top: 60px;
    margin-bottom: 20px;
  }
}

.blue-letter {
  color: #0088FF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-top: 60px;

  @include s.respond("sp") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-top: 0; // スマホ用に余白をリセット
  }
}

.section_title_item {
  text-align: center;
  padding: 60px 0 40px 0;
  font-size: 96px;
  font-family: "Playfair Display", serif;
  margin: 40px 0 40px 0;
  position: relative;
  width: 100%;

  @include s.respond("sp") {
    font-size: 48px;
    padding: 40px 0 20px 0;
    margin: 100px 0 20px 0; 
  }
}

.work_containers,
.service_container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  box-sizing: border-box;

  @include s.respond("sp") {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.service_item img,
.work_items img{
  max-width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;

  @include s.respond("sp") {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
  }

}

/*  フッターセクション */

.footer {
  background-image: url("../img/footer.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.footer_text {
  font-size: 20px;
}