@charset "UTF-8";
/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.header-scrolled {
  background-color: #0088FF;
}
.header_list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}
.header_item a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 32px;
}
.header_button a {
  background-color: #fff;
  color: #0088FF;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.header_button a:hover {
  background-color: #0088FF;
  color: #fff;
}
@media screen and (max-width: 380px) {
  .header {
    height: 60px;
    padding-right: 5px;
  }
  .header_list {
    gap: 10px;
    padding-right: 5px;
  }
  .header_item a {
    font-size: 16px;
    padding: 4px 6px;
  }
  .header_button a {
    padding: 4px 8px;
    font-size: 14px;
  }
}

/* ファーストビュー */
.firstview_wrapper {
  display: block;
  flex-direction: column;
  background-image: url("../img/sea.jpg");
  background-size: cover;
  height: 100vh;
  /* ビューポートの高さに合わせる */
}

section {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  /* height: 400px; */
  text-align: center;
}

.main_wrapper {
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.main_title {
  font-size: 184px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #333;
  margin-top: 80px;
}

.main_subtitle {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  color: #333;
  margin-top: 30px;
}

.main_description {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  color: #333;
  margin-top: 30px;
}

/* ワークセクション */
.work_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 140px;
}
.work_wrapper .work_section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}
.work_wrapper .work_section .work_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.work_wrapper .work_section .work_card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.work_wrapper .work_section .work_card .work_description_title {
  font-size: 24px;
  margin: 15px 0;
}
.work_wrapper .work_section .work_card ul {
  font-size: 16px;
  margin-bottom: 0px;
  list-style: none;
  padding-bottom: 20px;
}
.work_wrapper .work_section .work_card ul li {
  text-align: left;
}

/* アバウトセクション */
.about_wrapper {
  display: block;
  flex-direction: column;
  background-image: url("../img/about2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 80px 140px;
}
.about_wrapper .about_container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}
.about_wrapper .about_container .about_item {
  display: flex;
  align-items: center;
  gap: 100px;
}
.about_wrapper .about_container .about_item img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.about_wrapper .about_container .about_item .about_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 8px 24px;
  margin-top: 20px;
}
.about_wrapper .about_container .about_item .about_text .about_name {
  font-size: 32px;
  font-weight: bold;
}
.about_wrapper .about_container .about_item .about_text .about_description {
  text-align: left;
  font-size: 20px;
}

/* サービスセクション */
.service_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 140px;
  margin-bottom: 40px;
}
.service_wrapper .service_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.service_wrapper .service_item .service_name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
.service_wrapper .service_item .service_discription {
  text-align: left;
  list-style: none;
  margin-right: 30px;
  padding: 20px;
}

/* コンタクトセクション */
.contact_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #CCDDE3;
  gap: 20px;
  padding: 40px 140px;
}
.contact_wrapper .contact_container {
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 20px;
}
.contact_wrapper .contact_container .contact_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.contact_wrapper .contact_container .contact_form label {
  display: block;
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}
.contact_wrapper .contact_container .contact_form input[type=text] {
  width: 500px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #0088FF;
}
.contact_wrapper .contact_container .contact_form textarea {
  width: 500px;
  height: 200px;
  border-radius: 50px;
  border: 1px solid #0088FF;
  padding: 10px;
}
.contact_wrapper .contact_container .contact_description {
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
  margin-bottom: 30px;
}
.header_list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding-right: 20px;
}

.c-header {
  background-color: #0088FF;
}

.work_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
  padding: 40px 0;
  background-image: url("../img/work.jpg");
  background-size: cover;
  background-position: center;
}
.work_item {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border: none;
  box-shadow: none;
}
.work_img img {
  max-width: 500px;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.work_content {
  flex: 1;
}
.work_content ul {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}
.work_content ul li {
  font-size: 20px;
  text-align: left;
  padding-left: 60px;
}
.work_list {
  font-size: 32px;
  font-weight: bold;
  margin: 30px 0 10px;
}
.work_description {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
}

.my-button {
  margin-bottom: 60px;
}

.about_container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 80px auto;
  height: auto;
}
.about_profile {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.about_img {
  position: relative;
  z-index: 1;
  width: 60%;
  margin-left: auto;
}
.about_img img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: -8px 8px gray;
}
.about_content {
  position: relative;
  top: 50px;
  background-color: antiquewhite;
  padding: 20px;
  width: 55%;
  z-index: 1;
  box-shadow: -8px 8px gray;
  margin-left: 50px;
  margin-top: -200px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}
.about_content.show {
  opacity: 1;
  transform: translateX(0);
}
.about_content.hidden {
  opacity: 0;
  transform: translateX(-120px);
}
.about_content .about_header {
  display: flex;
  text-align: center;
  align-items: baseline;
  gap: 30px;
  margin-bottom: 20px;
}
.about_content .about_header .about_name {
  font-size: 24px;
  font-weight: bold;
}
.about_content .about_header .about_name_second {
  font-size: 20px;
}
.about_content .about_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
}
.about_content .about_description p {
  text-align: left;
  margin-bottom: 5px;
  padding: 0;
}
.about_content .about_skills {
  display: flex;
  gap: 20px;
}
.about_content .about_skills h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.about_content .about_skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about_content .about_skills ul li {
  padding-left: 1.2em;
  position: relative;
  font-size: 15px;
}
.about_content .about_skills ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.my-button {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #0088FF;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 12px 24px;
  font-size: 16px;
}

.my-button--large {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #0088FF;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px 32px;
  font-size: 24px;
}

.my-button:hover {
  background-color: #0056b3;
}

.section_title {
  text-align: left;
  margin-left: 0;
  padding-top: 30px;
  font-size: 120px;
  font-family: "Playfair Display", serif;
  margin: 0 0 40px 0;
  position: relative;
  width: 100%;
}

.blue-letter {
  color: #0088FF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-top: 60px;
}

.section_title_item {
  text-align: center;
  padding: 60px 0 40px 0;
  font-size: 96px;
  font-family: "Playfair Display", serif;
  margin: 40px 0 40px 0;
  position: relative;
  width: 100%;
}

.work_section,
.service_container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.service_item img,
.work_card img {
  max-width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 8px;
}

/*  フッターセクション */
.footer {
  background-image: url("../img/footer.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.footer_text {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */