@charset "UTF-8";

.body {
    margin: 0;
    padding-top: 100px;
}

.header_sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 10;
  margin-bottom: 30px;
  background-color: #0088FF;
}



.wrapper {
    display: flex;
    flex-direction: column;
}

.about_profile {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about_container{
    margin: 0;
}

.about_img {
    position: relative;
    margin-left: 0;
}

.about_img img {
    display: block;
    width: 620px;
    height: auto;
    transform: scaleX(-1);
}



.about_content {
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    width: 500px;
    background-color: antiquewhite;
    padding: 20px;
}

.about_header {
    display: flex;
    text-align: center;
    align-items: baseline;
    gap: 30px;
}

.about_name {
    font-size: 24px;
    font-weight: bold;
}

.about_name_second {
    font-size: 20px;
}



.about_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_description p {
  text-align: left;
  margin-bottom: 5px;
  padding: 0;
}

.about_skills {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.about_skills h4 {
  font-size: 18px;
  margin-bottom:10px;
  font-weight: bold;
}

.about_skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about_skills li {
  padding-left: 1.2em;
  position: relative;
  font-size: 15px;
}

.about_skills li::before {
  content: "✔";
  position: absolute;
  left: 0;
  font-size: 14px;
}



